/**
 * @author Ján Kertis <kertis.jan.15@gmail.com>
 * @copyright Ján Kertis, 2016
 */

.appBody {
    overflow: hidden;
}

h4 {
    color: #000 !important;
}

.topWrapper {
    background: url(../../../../../public/img/main-bg.jpg);
    height: 100vh;
    background-size: cover;
    transition: all 0.5s ease;
    position: relative;
    box-shadow: 0 3px 21px 0 rgba(0,0,0,0.5);
}

.activeWrapper {
    margin-top: calc(200px - 100vh);
}

.finderBlock {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    height: 70px;
    top: calc(50vh - 35px);
    color: #fff;
    transition: all 0.5s ease;
}

.activeBlock {
    top: calc(100vh - 100px);
}

.finderText {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 46px;
    vertical-align: middle;
}

.results {
    color: #000;
    text-align: center;
    margin-top: 60px;
    margin-left: 100px;
}

.resultsBlock {
    max-width: 100%;
    width: 400px;
    min-height: 140px;
    display: inline-block;
    text-align: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.addButton {
    position: absolute;
    left: -180px;
    top: 15px;
}

.textCenter {
    text-align: center;
}

.hide {
    display: none;
}

@media(max-width: 1000px) {
    .activeWrapper {
        margin-top: calc(220px - 100vh);
    }
    .finderBlock {
        top: calc(50vh - 60px);
    }
    .activeBlock {
        top: calc(100vh - 170px);
    }
    .finderText:last-of-type {
        display: block;
    }
}

@media(max-width: 600px) {
    .activeWrapper {
        margin-top: calc(300px - 100vh);
    }
    .finderBlock {
        top: calc(50vh - 95px);
    }
    .activeBlock {
        top: calc(100vh - 250px);
    }
    .finderText {
        display: block;
    }
}

@media(max-width: 768px) {
    .addButton {
        position: static;
        margin-left: 15px;
        margin-bottom: 15px;
    }
    .results {
        margin-left: 0;
    }
}
