/**
 * @author Ján Kertis <kertis.jan.15@gmail.com>
 * @copyright Ján Kertis, 2016
 */

.resultRow {
    width: 100%;
    margin-top: 20px;
}

.resultVotes {
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    background-color: #73AA69;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    position: relative;
}

.resultInfo {
    display: inline-block;
    padding-left: 15px;
    font-weight: 400;
}

.hidden {
    visibility: hidden;
}
